*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}
body{
    width: 100%;
    height: 100vh;
    background-image: url(https://i.gifer.com/ODeW.gif)
    
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(128, 62, 179);
    font-family: 'Sedgwick Ave Display', cursive; 
    padding: 2rem;
    color: rgb(239, 132, 32);

}

h1{
font-size: 7rem;
}

h2{
    color: aliceblue;
    padding-left: 2rem;
}

h3{
    font-size: .5rem;
    font-family:'Oswald', sans-serif; 
}

h4{
    color: aliceblue;
    font-family: 'sedgwick ave display', cursive;
    font-size: 3.5rem;
}


button{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: white;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 5rem;
    margin: 0 auto;
    margin-top: 2rem;
    border: 3px solid black;
    border-radius: .5rem;
    background-color: rgb(128, 62, 179);
    cursor: pointer;
    border-radius: 1.5rem;
    font-size: 2.0rem;
    font-family: 'Oswald', sans-serif;
    font-weight: lighter;
    font-style: italic;
}

p{
    font-size: 2.5rem;
    font-family: 'Oswald', sans-serif;
}

p1,p2{
    color: black;
}

span2 {
    font-size: 4rem;
    padding-left: 1rem;
    font-family:'Sedgwick Ave Display', cursive;
}

input{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 30%;
    height: 3rem;
    margin: 0 auto;
    border-radius: .5rem;
    cursor: cell;
}

section2{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: white;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 6rem;
    margin: 0 auto;
    margin-top: 2rem;
    border: 3px solid black;
    border-radius: .5rem;
    background-color: rgb(128, 62, 179);
    cursor: pointer;
    border-radius: 1.5rem;
    font-size: 1.5rem;
    text-overflow: ellipsis;
    overflow:hidden;
    min-width:0;
    font-family: 'Oswald', sans-serif;
}


.save-btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}


.mood{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 75%;
    width: 100%;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.food-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex: 1;
    flex-basis: 600px;
    border: .5rem solid rgb(2, 2, 2);
    background-color: white;
    text-overflow: ellipsis;
    overflow:hidden;
    min-width:0;
}




.music-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex: 1;
    flex-basis: 600px;
    border: .5rem solid rgb(6, 6, 6);
    background-color: white;
    text-overflow: ellipsis;
    overflow:hidden;
    min-width:0;
}


.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 800px;
    text-align: center;
}

.ms-auto{
    color: rgb(239, 132, 32);
    font-style: italic;
    font-weight: bold;
    font-size: 75px;
    
}

#welcome-box {
    display: flex;
    flex-direction: column;
    border-radius: 1.5rem;
    width:100%
}

#header{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#mood-display{
    flex-direction: row;
    flex: 1;
    align-items: center;
    text-align: center;
}