*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}
body{
    width: 100%;
    height: 100vh;
    background-image: url(https://i.gifer.com/ODeW.gif);
    
    }

#logo{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(128, 62, 179);
    font-family: 'Sedgwick Ave Display', cursive; 
    padding: 2rem;
    color: rgb(239, 132, 32);

}

h1{
font-size: 7rem;
}

h2{
    color: aliceblue;
}

h3{
    font-size: .5rem;
    font-family:'Oswald', sans-serif; 
}

h4{
    color: aliceblue;
    font-family: 'sedgwick ave display', cursive;
    font-size: 3.5rem;
}

h5{
    font-size: 3.5rem;
    padding-top: 2rem;
}


button{
    display: flex;
    flex-direction: row;;
    text-decoration: none;
    color: white;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 5rem;
    margin: 0 auto;
    margin-top: 2rem;
    border: 3px solid black;
    border-radius: .5rem;
    background-color: rgb(128, 62, 179);
    cursor: pointer;
    border-radius: 1.5rem;
    font-size: 2.0rem;
    font-family: 'Oswald', sans-serif;
    font-weight: lighter;
    font-style: italic;
}

p{
    font-size: 2.5rem;
    font-family: 'Oswald', sans-serif;
}

p1,p2{
    color: black;
}

span {
    flex: 0.5;
    font-size: 4rem;
    padding-left: 1rem;
    padding-top: 1rem;

    font-family:'Sedgwick Ave Display', cursive;
}

input{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 30%;
    height: 3rem;
    margin: 0 auto;
    border-radius: .5rem;
    cursor: cell;
}

figure{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: white;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 6rem;
    margin: 0 auto;
    margin-top: 2rem;
    border: 3px solid black;
    border-radius: .5rem;
    background-color: rgb(128, 62, 179);
    cursor: pointer;
    border-radius: 1.5rem;
    font-size: 1.5rem;
    text-overflow: ellipsis;
    overflow:hidden;
    min-width:0;
    font-family: 'Oswald', sans-serif;
}

article{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 3rem;
}

footer{
display: flex;
flex-direction: row;
flex-basis: 100%;
height: 10rem;
background-color:  rgb(239, 132, 32);
border-top: 1.5rem solid black;
border-bottom: 2rem solid  rgb(128, 62, 179);
}

.mood{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    padding: 3rem;
}

.food-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex: 1;
    flex-basis: 600px;
    border: .125rem solid rgb(246, 243, 243);
    background-color: rgb(37, 181, 225);
    text-overflow: ellipsis;
    overflow:hidden;
    min-width:0;
    border-radius: 3rem;
    opacity: 95%;
    font-family: 'Oswald', sans-serif;
}

.food-container :is(:focus, :valid){
    border-color: #fff transparent;
}

.food-container::-webkit-scrollbar{
    width: 0px;
}

.music-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex: 1;
    flex-basis: 600px;
    border: .125rem solid rgb(248, 245, 245);
    background-color: rgb(37, 181, 225);
    text-overflow: ellipsis;
    overflow:hidden;
    min-width:0;
    border-radius: 3rem;
    opacity: 95%;
    font-family: 'Oswald', sans-serif;
}


.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 800px;
    text-align: center;
}

.ms-auto{
    color: rgb(239, 132, 32);
    font-style: italic;
    font-weight: bold;
    font-size: 75px;
    
}

#welcome-box {
    display: flex;
    flex-direction: column;
    border-radius: 1.5rem;
    width:100%
}

#header{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#mood-display{
    flex-direction: row;
    flex: 1;
    align-items: center;
    text-align: center;
}

#food{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px auto;
}

#recName{
    font-size: 2rem;
    padding-bottom: 2rem;
}

#recInstr{
    padding: 0rem 3rem 0rem 3rem;
}